*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
}

a:hover{
    color: black !important;
}

header{
    display: flex;
    background-color: darkred;
    box-shadow: 5px 10px 10px hsla(0, 8%, 5%, 0.3);
    width: 100%;
    margin: 0px;
    height: 100px;
}

#hname{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 10%;
    color: white;
    align-items: center;
    display: none;
}

header > h1{
    font-size: 43px;
    font-weight: bolder;
    margin-left: 6%;
    color: white;
}

#into{
    margin-top: 320px;
}

#into > *{
    justify-content: center;
    text-align: center;
}

#name{
    font-size: 80px;
    margin: 0px;
    display: inline-flex;
    padding-right: 20px;
}

#emoji{
    height: 40px;
    width: 40px;
}

#into > h2{
    font-size: 25px;
    margin: 0px 10px;
    font-weight: lighter;
}

#into > h3{
    font-size: 20px;
    margin: 0px;
}

#aprtext{
    margin: 100px 0 150px;
    padding: 0 8%;
    text-align: center;
    justify-content: center;
    font-size: 22px;
}

#skills{
    text-align: center;
    background-color: darkred;
    box-shadow: 5px 10px 10px hsla(0, 8%, 5%, 0.3);
    color: white;
}

#skillstitle{
    font-size: 50px;
    font-weight: bold;
    padding: 60px 0 80px;
    margin: 0;
}

#skillsorg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2%;
    padding-bottom: 60px;
}

#skill{
    width: 430px;
    justify-content: center;
    text-align: center;
    margin: 25px 35px;
}

#skill > img{
    width: 60px;
    height: 50px;
}

#skill > p{
    font-size: 20px;
}

#projects{
    text-align: center;
    padding: 50px 5% 50px;
}

#projecttext > h3{
    font-size: 50px;
    font-weight: bold;
}

#projecttext > p{
    font-size: 25px;
    margin: 10px 5%;
}

#projectsorg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px 0;
}

#project{
    border: 3px solid black;
    height: fit-content;
    width: 350px;
    border-radius: 10px;
    padding: 30px 10px;
    margin: 25px 15px;
}

#project > img{
    width: 90%;
    height: 230px;
    border-radius: 10px;
}

#project > p{
    padding-bottom: 10px;
    font-size: 20px;
}

#project > a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: darkred;
}


footer{
    border-top: 3px solid black;
    text-align: center;
    background-color: darkred;
    color: white;
}

#footertext > h3{
    color: black;
    padding: 0 15%;
}

#footersocial{
    padding: 50px 0 30px;
}

#footersocial > a{
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding: 10px 15px;
}

@media only screen and (max-width: 950px){
    #name{
        font-size: 70px;
        padding-right: 5px;
    }
    #aprtext{
        margin: 70px 0 100px;
        padding: 0 4%;
        font-size: 18px;
    }
}

@media only screen and (max-width: 850px){
    #name{
        font-size: 65px;
    }
    #into > h2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 760px){
    header > h1{
        font-size: 37px;
    }
    #name{
        font-size: 60px;
    }
    #emoji{
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 700px){
    #name{
        display: flex;
        font-size: 40px;
        margin: 0 20%;
    }
    header > h1{
        display: none;
    }
    #hname{
        display: flex;
    }
}

@media only screen and (max-width: 500px){
    #name{
        font-size: 40px;
        margin: 0 7%;
    }
    #skillstitle{
        font-size: 30px;
    }
    #projecttext > h3{
        font-size: 30px;
    }
}